#optionbox {
    width: 50%;
    height: 40px;
    border: 0.5px solid skyblue;
    margin-bottom: 10px;
    align-content: center;
    border-radius: 5px;
    font-size: 14px;
    background: lightgray;
}

#table_body_main {
    margin-top: 2%;
    width: 80%;
    border: 0px solid grey;
    margin-bottom: 10px;
    align-content: center;
}

#post_title_header {
    border-collapse: collapse;
    border: 0px solid black;
    background: #9FA3A1;
    border-radius: 5px;
    margin: 5px;
    width: 80%;
}

#post_title_header_border {
    border-bottom: 1px solid grey;
}

#post_title_header_image_position {
    margin-right: 2%;
    padding: 5px;
    width: 50px;
}

#post_title_header_image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#rank {
    background: grey;
    color: white;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#unsolved_status {
    background: tomato;
    color: white;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;

}

#solved_status {
    background: green;
    color: white;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;

}

#solved_status_position {
    padding-right: 10px;

}

#post_padding {
    padding: 5px;
}

#post_title {
    background: lightgrey;
    color: black;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 2px;
    border:0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

#post_description {
    background: #EBEBEB;
    color: black;
    padding: 5px;
    padding-top: 0px;
    margin-top: 0px;
    border:0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    position: relative;
}

#like_dislike_border {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#like_dislike_size {
    width: 100%;
    height: 30px;
}

#like_dislike_shape {
    font-size: 18px;
    color: grey
}

#like {
    width: 50%;
    height: 100%;
    background: #ABFDAD;
    border: 0px;
    border-radius: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: baseline;
}

#dislike {
    width: 50%;
    height: 100%;
    background: #FFB2A4;
    border: 0px;
    border-radius: 3px;
    vertical-align: baseline;
}

#count {
    text-decoration: bold;
    color: #616770;
}

#answer_section {
    background: grey;
    color: papayawhip;
    text-decoration: bold;
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;
}

#comments_body {
    width: 95%;
    float: right;
}

#table_comments {
    background: lightgrey;
    border-radius: 5px;
    width: 100%;
}

#table_comments_next {
    background: lightgrey;
    border-radius: 5px;
    width: 100%;
    margin-top: 1%;
}

#upvote_count {
    color: lightseagreen;
    margin-left: 5px;
}

#downvote_count {
    color: red;
    margin-left: 5px;
}

#upvote_button {
    width: 100%;
    height: 25px;
    background: #7CFB7F;
    border: 0px;
    border-radius: 5px;
}

#downvote_button {
    width: 100%;
    height: 25px;
    background: #FF9F9F;
    border: 0px;
    border-radius: 5px;
}

#correct_comment {
    background: green;
    color: floralwhite;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
}

#incorrect_comment {
    background: tomato;
    color: floralwhite;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
}

#comment_content {
    background: #EBEBEB;
    color: black;
    padding: 5px;
    padding-top: 0px;
    margin-top: 0px;
    margin-top: 2px;
    border-radius: 5px;
}

#comment_content_border {
    margin-left: 10px;
}

#post_modify_button {
    margin-right: 50px;
    float: right;
}

#edit_button
{
    width: 80px;
    height: 30px;
    background: lightgray;
    color: black;
    padding-left: 5px;
    border-radius: 5px;
    border: 0.5px solid skyblue;
}

#edit_button_text
{
    text-decoration: bold;
    color: #616770;
}

#edit_button_icon {
    font-size: 18px;
    color: grey
}

#update_button
{
    width: 80px;
    height: 30px;
    background: lightgray;
    color: black;
    padding-left: 5px;
    border-radius: 5px;
    border: 0.5px solid skyblue;
}

#update_button_text
{
    text-decoration: bold;
    color: #616770;
}

#update_button_icon {
    font-size: 18px;
    color: grey
}

#snooze_button
{
    width: 100px;
    height: 30px;
    background: lightgray;
    color: black;
    padding-left: 5px;
    border-radius: 5px;
    border: 0.5px solid skyblue;
}

#snooze_button_text
{
    text-decoration: bold;
    color: #616770;
}

#snooze_button_icon {
    font-size: 18px;
    color: grey
}

#delete_button
{
    width: 80px;
    height: 30px;
    background: lightgray;
    color: black;
    padding-left: 5px;
    border-radius: 5px;
    border: 0.5px solid skyblue;
}

#delete_button_text
{
    text-decoration: bold;
    color: #616770;
}

#delete_button_icon {
    font-size: 18px;
    color: grey
}
